@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 4.8vw 16px;
}

.header__logo {
  width: 100px;
  height: auto;
}

.nav__item {
  list-style: none;
  display: flex;
  gap: 4.8vw;
}

.nav__link {
  text-decoration: none;
  color: hsl(243, 87%, 12%);
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
}

.hero {
  padding: 0 4.8vw;
}

.hero__img {
  width: 100%;
  height: auto;
}

.hero__content {
  padding: 24px 0;
  font-family: "Raleway", sans-serif;
}

.hero__title {
  text-align: center;
  color: hsl(243, 87%, 12%);
}

.hero__description {
  padding: 24px 0;
  text-align: center;
  line-height: 1.7;
  color: hsl(243, 87%, 12%);
  font-weight: 500;
}

.call-to-actions {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero__input-field {
  padding: 16px;
  border-radius: 6px;
  border: 1px solid hsl(243, 87%, 12%);
}

.hero__btn {
  background-color: hsl(224, 93%, 58%);
  color: hsl(240, 75%, 98%);
  font-weight: 700;
  padding: 16px;
  border: none;
  border-radius: 6px;
  box-shadow: 3px 5px 5px hsl(0, 0%, 75%);
}

.features {
  background: url(/images/bg-curve-mobile.svg) no-repeat center top;
  background-size: cover;
  margin: 64px 0 128px 0;
  padding: 0 4.8vw;
}

.features__img {
  padding: 96px 0;
  width: 100%;
  height: auto;
}

.features__title {
  color: hsl(243, 87%, 12%);
  text-align: center;
  font-family: "Raleway", sans-serif;
  /* font-weight: 400; */
}

.features__description {
  padding: 36px 0;
  color: hsl(238, 22%, 44%);
  line-height: 1.7;
  font-weight: 700;
}

.features__description-one {
  margin-bottom: 16px;
}

.features__cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-bottom: 2px solid hsl(170, 45%, 43%);
  margin: 16px auto 64px;
  padding-bottom: 8px;
  width: fit-content;
}

.features__cta-link {
  color: hsl(170, 45%, 43%);
  text-decoration: none;
  font-size: 18px;
}

.arrow-icon {
  width: 22px;
  height: 22px;
}

.testimonial {
  background-color: #fff;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 15px hsl(0, 0%, 75%), -5px -5px 5px hsl(0, 0%, 75%);
}

.qoutes-icon-wrapper {
  margin-bottom: 30px;
}

.testimonial__description {
  color: hsl(243, 87%, 12%);
  line-height: 1.7;
  font-weight: 700;
}

.testimonial__meta-data {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 16px 0;
}

.testimonial__thumbnail {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.testimonial__author {
  color: hsl(243, 87%, 12%);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.testimonial__author-occupation {
  color: hsl(243, 87%, 12%);
  font-size: 14px;
  margin-top: 5px;
}

@media (min-width: 1440px) {
  .nav__link {
    font-size: 1.125rem;
    font-weight: 400;
  }

  .hero {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 64px;
    gap: 64px;
  }

  .hero__img-wrapper,
  .hero__content {
    width: 50%;
  }

  .hero__title {
    text-align: left;
    line-height: 1.3;
    font-size: 3rem;
  }

  .hero__description {
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .call-to-actions {
    flex-direction: row;
  }

  .hero__input-field {
    flex-grow: 2;
  }

  .hero__btn {
    flex-grow: 1;
  }

  .features {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .features__img-wrapper,
  .features__content {
    width: 50%;
  }

  .features__img {
    background: url(images/bg-curve-desktop.svg);
  }

  .features__title {
    text-align: left;
  }

  .features__description {
    padding: 12px 0;
  }

  .features__cta {
    margin: 16px 0 32px;
  }

  .testimonial {
    width: 60%;
  }
}
